div.row(style='margin:0px;')
	div.col-md-12(style='background-color:white; padding:0px; overflow:hidden;')
		div(style='width:100%; position:relative; min-height:115px; background:green;')
			div.hidden-xs(style='max-width:1100px; background-color: green; margin-left:auto; margin-right:auto; min-height:115px; position:relative; padding-right:150px;')
				img.img-circle.img80_80.hidden-xs(src='https://lh3.googleusercontent.com/-xvsGWw5d71E/AAAAAAAAAAI/AAAAAAAAABM/PgbEF-ghalk/photo.jpg', style='position:absolute; bottom:-20px; left: 5%; border-style:solid; border-width:4px; border-color:white;')
				h3.hidden-xs(style='color:white; margin-top: 0px; position:absolute; bottom:-5px; left: 145px; font-size:20px; padding-right:155px; padding-top: 10px; padding-bottom:10px;') {{question.edits[question.edits.length -1].text}}
				h3.hidden-xs(style='-webkit-user-select: none; color:transparent; margin-top: 0px; position:relative; left: 160px; font-size:20px; padding-right:160px; padding-top: 10px; padding-bottom:10px;') {{question.edits[question.edits.length -1].text}}
				div(style='height:100%; width:140px; background-color: red; position:absolute; right:0px; bottom:0px')
			img.img-circle.img80_80.visible-xs(src='https://lh3.googleusercontent.com/-xvsGWw5d71E/AAAAAAAAAAI/AAAAAAAAABM/PgbEF-ghalk/photo.jpg', style='position:absolute; top:17px; left: 27px; border-style:solid; border-width:4px; border-color:white;')
			h3.visible-xs(style='color:white; margin-top: 0px; position:relative; top:0%; left: 120px; font-size:20px; padding-right: 145px; padding-top: 10px; padding-bottom:10px;') {{question.edits[question.edits.length -1].text}}
		div.visible-xs(style='background-color:red; width:100%; height:40px; position:relative; top: -10px;')
		div(style='width:100%;')
			br.hidden-xs
			div(style='background:white; max-width:845px; margin-left:auto; margin-right:auto; height: 150px;')
				p This is where the meat of the inquiry will be, we need to consder many different scenerios for this as well, it has to look good on mobile and other tablets and stuff.  I don't really know what else to say but need to add more and more and more text to the div
		div(style='width:100%; min-height:44px; background-color:#3D4359')
			div(style='max-width:845px; margin-left:auto; margin-right:auto;')
				div.row(style='padding-top:10px;')
					div.col-xs-3(style='padding-right:0px;')
						div.text-center
							div.col-sm-3
								div.text-center(style='width:100%;')
									div(style='background-color:white; border-radius:50%; width: 25px; height: 25px; padding: 3px; margin: 0 auto;') 1
							div.col-sm-3.text-center(style='height: 25px; padding: 3px; color: white; font-weight:600') respond
					div.col-xs-3
						div.text-center
							div.col-sm-3
								div.text-center(style='width:100%;')
									div(style='background-color:white; border-radius:50%; width: 25px; height: 25px; padding: 3px; margin: 0 auto;') 2
							div.col-sm-3.text-center(style='height: 25px; padding: 3px; color: white; font-weight:600') collaborate
					div.col-xs-3
						div.text-center
							div.col-sm-3
								div.text-center(style='width:100%;')
									div(style='background-color:white; border-radius:50%; width: 25px; height: 25px; padding: 3px; margin: 0 auto;') 3
							div.col-sm-3.text-center(style='height: 25px; padding: 3px; color: white; font-weight:600') rate
					div.col-xs-3(style='padding-left:0px;')
						div.text-center
							div.col-sm-3
								div.text-center(style='width:100%;')
									div(style='background-color:white; border-radius:50%; width: 25px; height: 25px; padding: 3px; margin: 0 auto;') 4
							div.col-sm-3.text-center(style='height: 25px; padding: 3px; color: white; font-weight:600') learn
		div(style='width:100%;')
			div(style='max-width:845px; margin-left:auto; margin-right:auto;')
				div.row
					div.col-xs-12
						br
						div.row
							div.col-xs-12.text-center
								p
									span time remaining: 
									span &nbsp;
									i.fa.fa-bell 
									span &nbsp;&nbsp;
									span 1 day 2 hrs and 32 mins
						div.row
							div.col-xs-12
								br
								div.row
									div.col-xs-12
										div(style='width:100%; padding-left:60px; position:relative;')
											div(style='position:absolute; left:0px; top:0px; width:60px;')
												img.img-circle(src='https://lh3.googleusercontent.com/-xvsGWw5d71E/AAAAAAAAAAI/AAAAAAAAABM/PgbEF-ghalk/photo.jpg', style='height:60px;')
											div(style='background-color:green; height: 60px;')
								br
								div.row
									div.col-xs-12
										div(style='width:100%; padding-left:60px; position:relative;')
											div(style='position:absolute; left:0px; top:0px; width:60px;')
												img.img-circle(src='http://www.readingfc.co.uk/images/common/bg_player_profile_default_big.png', style='height:60px; width:60px;')
											div(style='background-color:green; height: 60px;')
								br
								div.row
									div.col-xs-12
										div(style='width:100%; padding-left:60px; position:relative;')
											div(style='position:absolute; left:0px; top:0px; width:60px;')
												img.img-circle(src='http://www.readingfc.co.uk/images/common/bg_player_profile_default_big.png', style='height:60px; width:60px;')
											div(style='background-color:green; height: 60px;')
								br
								div.row
									div.col-xs-12
										div(style='width:100%; padding-left:60px; position:relative;')
											div(style='position:absolute; left:0px; top:0px; width:60px;')
												img.img-circle(src='http://www.readingfc.co.uk/images/common/bg_player_profile_default_big.png', style='height:60px; width:60px;')
											div(style='background-color:green; height: 60px;')
								br 
								div.row
									div.col-xs-12
								br
								div.row
									div.col-xs-12
				hr

				div.row
					div.col-xs-12(style='padding-right:0px;')
						p elaboration stage
				hr

				div.row
					div.col-xs-12(style='padding-right:0px;')
						p rating stage
				hr

				div.row
					div.col-xs-12(style='padding-right:0px;')
						p results stage
				hr

		br
		br
		br
		div.row
			div.col-md-12
				pre {{question | json}}