div.publicUser.commentAuthor(public-user, id='comment.id_author')
div.editableText.editableComment(editable-text editable='comment.id_author === userState.user.public.id', text='comment.edits[comment.edits.length -1].text', type='question', label='comment.edits[comment.edits.length -1].label' text-edited-callback='editComment')