div.editableText.editableParagraph(editable-text editable='idea.id_author === userState.user.public.id' text='idea.edits[idea.edits.length -1].text' text-edited-callback='editIdea')
div.publicUser.questionAuthor(public-user, id='idea.id_author')
br
div.comments.comments-question(comments item='idea' type='{{"idea"}}')